<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="bossesPath" value=".\\Files\\bosses.txt" />
    <add key="mapsPath" value=".\\Files\\maps.txt" />
    <add key="bossesDirectoryPath" value=".\\Files" />
    <add key ="reminderTime" value="10"/>
  </appSettings>
</configuration>